.container {
    width: 900px;
    margin: 50px auto 0;
    background-image: url(../img/bg-note.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.column {
    width: 450px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
h1 {
    font-size: 50px;
}
.to-do-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background:transparent;
    box-sizing: border-box;
    padding: 50px 0;
}
.to-do-item {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
span {
    display: block;
    width: 300px;
    height: 30px;
    background-color: transparent;
    border: 3px solid black;

}
.to-do-form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.to-do-input {
    height: 30px;
    width: 100%;
}
#submitTaskInput {
    background-color: darkslategrey;
    color: white;
}

.completed {
    display: block;
    width: 300px;
    height: 30px;
    background-color:aquamarine;
    text-decoration: line-through;
    border: 3px solid black;

}

i {
    font-size: 20px;
}
.to-do-form {
    align-self: flex-end;

}
